@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'anakinmono';
  src: url('/fonts/anakinmono.ttf') format('.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
